@model iPromise.Models.EventModels
<div class="well form-search">
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  New 
</button>
    </div>

 
<table class="table table-striped table-bordered">
<thead>
<tr>
    <th><strong>What</strong></th><th><strong>When</strong></th>
</tr>
</thead>
    <tbody>              
            @if (Model._events.Count > 0)
            {
                foreach (var ev in Model._events.OrderByDescending(m => m.DateCreated).ToList())
                { 
                     <tr><td style="width: 80%">@ev.Name</td><td>@ev.DateCreated</td></tr>    
                }
            }
            else
            {
                 <tr><td colspan="2">Nothing happening yet? Click on New to get started</td></tr>    
            }
        </tbody>
</table>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New</h4>
      </div>
      <div class="modal-body">
        @using (Html.BeginForm("CreateEvent", "Events", FormMethod.Post, new { id = "createForm" }))
        {
          <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Give your event a simple name (REQUIRED)", @class = "form-control" })
          </div>
             
            
          <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @placeholder = "Tell your friends a little more about this event (optional)", @class = "form-control" })
          </div>
            
          <div class="form-group">    
                @Html.LabelFor(m => m.Location)
                @Html.TextBoxFor(m => m.Location, new { @placeholder = "Where is this happening (optional)", @class = "form-control" })
          </div> 
            
          <div class="form-group">   @* @readonly="true",*@
              @*  @Html.LabelFor(m => m.Date)
                @Html.TextBoxFor(m => m.Date, new  { @class="form-control",style = "width: 100px;"})*@
              @*<span class="glyphicon glyphicon-calendar" id="calendarIcon"></span>*@
             <div class="input-append date" id='datetimepicker1'>
                   @Html.LabelFor(m => m.Date_Time)
                   @Html.TextBoxFor(m => m.Date_Time, new { @class = "form-control", @readonly = "true", style = "width: 100px;" })
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span> 
                </div>
          </div>
            
            @*                                       
          <div class="form-group">      
                @Html.LabelFor(m => m.Time)
                @Html.TextBoxFor(m => m.Time, new  {@class="form-control"})
          </div>                
        *@
        }
      </div>
     <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>     
             <button type="button" class="btn btn-primary"          id="create">Create</button>
      </div> 
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#create").hide();
       
        //causes Submit button to hide until an event name is specified
        $("#Name").keyup(function () {
            if ($('#Name').val().length < 1) {
                $("#create").hide();
            }
            else { $("#create").show(); }
        });

        //pre-populates date field with today's date
        var today = new Date();
        var _date = today.getDate();
        var _mon  = today.getMonth() + 1;
        var _year = today.getFullYear();

        $("#Date_Time").val(_mon + "/" + _date + "/" + _year);

    

        $("#create").click(function () {         
            $("#createForm").submit();            
        });

        $('#datetimepicker1').datetimepicker();
      //  $("#Date").datepicker();
    //    $("#datetimepicker1").datepicker();
    });

</script>

 