@model iPromise.Models.CreateContactModel

@{
    ViewBag.Title = "Create a New Contact";
}

<h2>Create a New Contact</h2>
@using (Html.BeginForm()) {
     @Html.ValidationSummary()
   <fieldset>
        <legend>Event</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.firstname)
                @Html.TextBoxFor(m => m.firstname)
            </li>
            <li>
                @Html.LabelFor(m => m.middleInitial)
                @Html.TextBoxFor(m => m.middleInitial, new { style = "width: 15px; text-transform: capitalize",  maxlength=1})
            </li>
            <li>
                @Html.LabelFor(m => m.lastname)
                @Html.TextBoxFor(m => m.lastname)
            </li>
             <li>
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email)
            </li>

            
        </ol>
        <input type="submit" value="Create" />
    </fieldset>
}
